body {
  font-family: 'Open Sans';
}
div.navbar.navbar-default.navbar-fixed-top {
  background-color: #00939d;
}
div.navbar.navbar-default.navbar-fixed-top div.container {
  margin-right: 30px;
}
body {
  padding-top: 70px;
}
.navbarlogo {
  width: 250px;
  padding-right: 40px;
  margin-top: -15px;
}
.username {
  position: fixed;
  margin-left: 260px;
  margin-top: 25px;
  font-size: 3em;
  font-weight: 600;
  color: #fef7ca;
  text-shadow: #000 -0.1em 0.1em 0.2em;
}
ul li a {
  color: #000 !important;
  font-size: 1.5em;
  font-weight: bold;
margin-right
}
.userpic {
  position: fixed;
  background-color: #000;
  width: 150px;
  height: 150px;
  margin-left: 70px;
  margin-top: 33px;
}
.stuff {
  margin-top: 120px;
}
.leftbar {
  margin-top: 100px;
}
.searchbar {
  width: 60%;
  border-radius: 10px;
  border: 2px solid #000;
  margin-bottom: 10px;
}
div.togglebuttons button {
  width: 50%;
}
.griditem {
  background: no-repeat center center;
  background-size: cover;
  width: 204.25px;
  height: 204.25px;
  z-index: -1;
}
.wrapper {
  background-color: #060;
  position: relative;
  z-index: 2;
  width: 204.25px;
  height: 204.25px;
  opacity: 0.2;
}
.redwrap {
  background-color: #b00900;
  position: relative;
  z-index: 2;
  width: 204.25px;
  height: 204.25px;
  opacity: 0.2;
}
.overlay {
  z-index: 3;
  width: 204.25px;
  height: 204.25px;
}
.overlay p {
  color: #fef7ca;
  display: inline;
  position: relative;
  top: -204.25px;
}
.nopad {
  padding: 1px;
}
.signup {
  margin-top: 100px;
  padding-left: 100px;
}
