body
  font-family 'Open Sans'

div.navbar.navbar-default.navbar-fixed-top
  div.container
    margin-right 30px
  background-color #00939d
body
  padding-top 70px

.navbarlogo
  position relative
  width 300px
  padding-right 20px

.username
  position fixed
  margin-left 260px
  margin-top 80px
  font-size 3em
  font-weight 600
  color #fef7ca
  text-shadow black -0.1em 0.1em 0.2em

ul li a
  color #000000 !important
  font-size 1.5em
  font-weight bold

.userpic
  position fixed
  background-color #000000
  width 150px
  height 150px
  margin-left 70px
  margin-top 90px

.stuff
  margin-top 200px

.leftbar
  margin-top 100px

.searchbar
  width 100%


//00939d
// fef7ca
// 7b879f dark gery
// c1c8ce light grey
//  light blue
