div.navbar.navbar-default.navbar-fixed-top
  padding-bottom 20px
  background-color #00939d
body
  padding-top 70px

.navbarlogo
  width 90%

.username
  position fixed
  margin-left 300px
  margin-top 100px
  font-size 900

ul li a
  color #000000 !important
.userpic
  position fixed
  background-color #000000
  width 150px
  height 150px
  margin-left 70px
  margin-top 100px



//00939d
// fef7ca