extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") AngelHack
            .navbar-collapse.collapse
                ul.nav.navbar-nav.hover-active.navbar-right
                    li
                        a(href="/") Dashboard
                    li
                        a(href="/") History
                    li
                        a(href="/") Help
                    li
                        a(href="/signup") Signup
                img.userpic
                h1(ng-controller='Username') {{username}}

    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2015 Wheres my Shit
