extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") AngelHack
                    h6 -Where's my shit
            .navbar-collapse.collapse
                ul.nav.navbar-nav.hover-active
                    li
                        a(href="/") Home
                    li
                        a(href="/") About
                    li
                        a(href="/") Faqs
    section.content

    footer.container.text-center
        p &copy; 2015 Wheres my Shit
