doctype
html
   head
      title Wheres my shit
      link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/css/site.css')
   body(ng-app='myApp')
      block main-content
      include scripts